.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header_content {
    position: fixed;
    top: 0;
    width: calc(100% - 2rem);
    height: 80px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    border: 0.5px solid #d6d6d6;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.linckhedaer {
    margin: 0.90rem;
    border-radius: 5px;
    display: inline-block;
}

.linckhedaer:hover {
    box-shadow: 0 0 10px 10px rgba(0, 174, 255, 0.75);
    transition: box-shadow 0.3s ease;
}

.header_ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-left: 1rem;

}

.button_header {
    background-color: transparent;
}

.header_ul .a {
    color: #8762ff;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}

.header_ul .a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 7px;
    right: 0;
    background: blue;
    transition: width 0.4s ease;
}

.a:hover {
    color: blue;
}

.header_ul .a:hover::after {
    width: 100%;
    left: 0;
    right: auto;

}

@media (max-width: 700px) {

    .header_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: calc(100% - 1rem);
        margin-top: 1rem;


    }

    .header_ul {
        margin: 0 auto;
        gap: 1rem;
        padding-top: 0.5rem;
    }

    .header_ul .a {
        font-size: 1rem;
    }

    .headerbuttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

    }

    .linckhedaer {
        padding-bottom: 1rem;
    }

    .icone {
        width: 22px;
        height: 22px;

    }
}