.skills-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(234, 232, 232);
}

.header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.skills-article {
    display: grid;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,auto);
    justify-items: stretch;
    margin: 0 1rem;
}

.education-list .education-item {
    list-style: none;
    font-weight: 600;
    padding: 0.5rem 0;
}

.description {
    line-height: 150%;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    gap: 0.1rem;
}

.skills-liste,
.skills-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding: 0;
    max-height: 20%;
}

.soft-skills,
.hard-skills {
    width: 100%;
    text-align: center;
    margin: 1rem;
    flex: 1 1 0;
    border: 0.5px solid #d6d6d6;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    transition: transform 0.3s;
    font-size: 1rem;
}

.skill-item:hover {
    cursor: pointer;
    transform: scale(1.01);
    font-weight: bold;
}


.soft-skills .skill-item span {
    margin-left: 0.5rem;
    font-size: 1rem;
}
.hard-skills .skill-item {
    flex-direction: column;
    align-items: center;
}

.hard-skills .skill-item span {
    margin-top: 0.5rem;
    margin-left: 0;
    text-align: center;
}

@media (max-width: 771px) {
   
    .skills-liste,
    .skills-list {
        width: 100%;
        margin: 1rem 0;
        text-align: justify;
       line-height: 150%;
       font-size: 1rem;
    }

    .soft-skills,
    .hard-skills {
        flex: 1 1 100%;
        margin: 1rem auto;
    }
    .skills-article {
        display: grid;
        gap: 20px;
        grid-template-columns:1fr;
        grid-template-rows:auto;
        
    }
    .skill-item{
        padding: 0 -1rem;
       text-align: justify;
    }
}