.articleprincipal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    
}

.articleaside1 {
    width: 20rem;
    height: 12rem;
    background-color: #1d4ed8;
    border-radius: 1rem;
    margin-top: -1rem;
    text-align: justify;
    padding: 0  0.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;

}

.articleaside1 {
    opacity: 0;
    transform: translateY(100%);
    animation: aparecer 2s ease forwards;
}
@keyframes aparecer {

    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.articleh3 {
    color: #fff;
    font-size: 2rem;
    margin-top: 1rem;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.imgIcon {
    display: flex;
    width: 32px;
    height: 32px;
    margin: 3px;
    align-items: center;
    flex-direction: row;
    border-radius: 0px;
}

#conteudo {
    color: #fff;
    font-size: 1.2rem;
    
}

@media (max-width: 410px) {
    .articleprincipal {
        margin-left: 1rem;

    }
    .articleprincipal h3{
        padding-bottom: -2rem ;
    }
    .articleaside1{
        height: 16rem;
    }
    .articleh3{
        font-size: 1.3rem;
    }
    
}